<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">lhz社区</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">lhz社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-default" id="navbarSupportedContent">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right mr-auto">
                <li th:if="${session.user != null}"><a href="/publish">发布问题</a></li>
                <!--                client_id参数让 B 知道是谁在请求，
                                    redirect_uri参数是 B 接受或拒绝请求后的跳转网址，
                                    scope参数表示要求的授权范围-->
                <li th:if="${session.user == null}"><a href="https://github.com/login/oauth/authorize?client_id=1c96ddc0841d9dec0b4c&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a></li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <b th:text="${session.user.getName()}"></b>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/dynamic/questions">动态</a></li>
                        <li><a class="dropdown-item" href="#">个人资料</a></li>
                        <li><a class="dropdown-item" href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>